:root[main-theme='light']{ 
    --bg: #ffffff; 
    --text: #000000; 
    --card-bg: #ffffff; 
    --card-border: #dcdcdc;
    --shadow-alpha: 0.2;
    --dop-shadow-alpha: 0.2;
}

:root[main-theme='dark']{ 
    --bg: #1e1e1e; 
    --text: #f0f0f0; 
    --card-bg: #313131; 
    --card-border: #ffffff; 
    --shadow-alpha: 0.5;
    --dop-shadow-alpha: 0;
}

body{ 
    background: var(--bg); 
    color: var(--text); 
    margin: 0; 
    font-family: Inter, system-ui, sans-serif; 
    transition: background .12s,color .12s; 
}

.app-container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 16px;
    box-sizing: border-box;
    position: relative;
}

.main-title {
    width: 700px;
    max-width: 100%;
}

@media (max-width: 700px) {
  .main-title {
    width: 320px;
  }
}
